{% extends "layout.html" %}

{% block main %}

<div>
    <table>
        <thead>
            <tr>
                <th class ="text-middle">運動項目</th>
                <th class ="text-middle">地點</th>
                <th class ="text-middle">日期</th>
                <th class ="text-middle">時間</th>
                <th class ="text-middle">費用</th>
                <th class ="text-middle">程度</th>
                <th class ="text-middle">名額</th>

            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for activity in activities %}
                <tr>
                    <td class ="text-middle">{{activity.type}}</td>
                    <td class ="text-middle">{{activity.location}}</td>
                    <td class ="text-middle">{{activity.date}}</td>
                    <td class ="text-middle">{{activity.start_time}}~{{activity.end_time}}</td>
                    <td class ="text-middle">{{activity.price}}</td>
                    <td class ="text-middle">{{activity.level}}</td>
                    <td class ="text-middle">{{activity.participants}}</td>
                    <td class="text-middle">
                        {% if activity.participants > 0 %}
                            <a href="/apply/{{activity.id}}" class="btn btn-primary">報名</a>
                        {% else %}
                            <button class="btn btn-secondary" disabled>名額已滿</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
